@import '../../styles/theme';

.desktop-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.desktop-menu__item {
  position: relative;
}

.desktop-menu__link {
  align-items: center;
  cursor: pointer;
  display: flex;
  box-sizing: border-box;
  color: inherit;
  font-family: $montserrat-font;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  // text-transform: uppercase;
  text-transform: lowercase;
  position: relative;
  transition: color 0.25s ease, transform 0.25s ease;
  height: 40px;
  padding: 0 32px;

  &:before {
    content: '',
  }
}

.desktop-menu__link:hover {
  text-decoration: underline;
}

@keyframes desktop-menu__letter {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.desktop-menu__letter {
  display: inline-block;
  transform: scaleX(1);
}

.desktop-menu.desktop-menu--with-initial-animations {
  .desktop-menu__letter {
    animation: desktop-menu__letter 0.5s 1 ease-in;
  }
}
